.bronecard__container.card
    h1 888
    label Прибытие
    input(type="date")
    label Отбытие
    input(type="date")
    label Гости
    select
        option 3 гостя
    table
        tr 
            td 9 990Р х 4 суток
            td 39 960Р
        tr
            td Сбор за услуги: скидка 2179Р
            td 0Р
        tr
            td Сбор за дополнительные услуги
            td 300Р
        tr
            td Итого 
            td 38 081Р
    button.button Забронировать