<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cards
    body  
        div.headerlogo__container
            include top-logo.pug 
        .cards__container
            include findnumbercard.pug
            include registrationcard.pug
            include bronecard.pug
            include signincard.pug
            include calendarcard.pug
            include smallcard1.pug
            include smallcard2.pug