<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        <link href="../node_modules/air-datepicker/dist/css/datepicker.css" rel="stylesheet" type="text/css">
        <script src="../node_modules/air-datepicker/dist/js/datepicker.js"></script>
        title Cards
    body  
        div.headerlogo__container
            include top-logo.pug 
        .cards__container
            include findnumbercard.pug
            include registrationcard.pug
            include bronecard.pug
            include signincard.pug
            include calendarcard.pug
            include smallcard1.pug
            include smallcard2.pug