doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Colors and Types
    body
    .colorsntype__container-big
        include top-logo.pug
        .colorsntype__container
            
            .colorsntype-colors
                ul.colorsntype-colors__list
                    li.colorsntype-colors__item.colorsntype-colors__ds100 
                        h2 Dark Shade 100%
                        p #1F2041
                    li.colorsntype-colors__item.colorsntype-colors__ds75 
                        h2 Dark Shade 75% 
                        p #1F2041
                    li.colorsntype-colors__item.colorsntype-colors__ds50 
                        h2 Dark Shade 50% 
                        p #1F2041
                    li.colorsntype-colors__item.colorsntype-colors__ds25 
                        h2 Dark Shade 25% 
                        p #1F2041
                    li.colorsntype-colors__item.colorsntype-colors__ds5 
                        h2 Dark Shade 5% 
                        p #1F2041
                    li.colorsntype-colors__item.colorsntype-colors__purple 
                        h2 Purple 
                        p #BC9CFF
                    li.colorsntype-colors__item.colorsntype-colors__green 
                        h2 Green 
                        p #6FCF97
            .colorsntype-text
                h1.colorsntype-text__h1.colorsntype-text__item This one is the sub-section or widget title
                h2.colorsntype-text__h2.colorsntype-text__item Next one is the item title inside widgets
                h3.colorsntype-text__h3.colorsntype-text__item This is a label or CTA text
                p.colorsntype-text__p.colorsntype-text__item This is the body text which is used for most of the design, like paragraphs, lists, etc.