doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
    .colorsntype__container-big
        include top-logo.pug
        .colorsntype__container
            
            .colorsntype-colors
                ul.colorsntype-colors__list
                    li.colorsntype-colors__item Dark Shade 100% <br><span>#1F2041</span>
                    li.colorsntype-colors__item Dark Shade 75% <br><span>#1F2041</span>
                    li.colorsntype-colors__item Dark Shade 50% <br><span>#1F2041</span>
                    li.colorsntype-colors__item Dark Shade 25% <br><span>#1F2041</span>
                    li.colorsntype-colors__item Dark Shade 5% <br><span>#1F2041</span>
                    li.colorsntype-colors__item Purple <br><span>#BC9CFF</span>
                    li.colorsntype-colors__item Green <br><span>#6FCF97</span>
            .colorsntype-text
                h1.colorsntype-text__h1 This one is the sub-section or widget title
                h2.colorsntype-text__h2 Next one is the item title inside widgets
                h3.colorsntype-text__h3 This is a label or CTA text
                p.colorsntype-text__p This is the body text which is used for most of the design, like paragraphs, lists, etc.