.findnumber__container
    h1 Найдём номера под ваши пожелания
    label Прибытие
    input(type="date")
    label Выезд
    input(type="date")
    label Гости
    select
        option Сколько гостей
    button.button Подобрать номер