.main-footer-creative__container
    img.main-footer-creative__logo(src="img/logo.png" alt="toxin")
    p.
        Lorem ipsum dolor sit amet consectetur 
        adipiscing elit aliquam eget nullam 
        pellentesque aliquam curabitur cociis.
    ul.main-footer-creative__socials-list
        li.main-footer-creative__socials-item 
            a.main-footer-creative__socials-link.tw(href="#", alt="twitter") 
        li.main-footer-creative__socials-item 
            a.main-footer-creative__socials-link.fb(href="#", alt="facebook") 
        li.main-footer-creative__socials-item 
            a.main-footer-creative__socials-link.ig(href="#", alt="instagram") 