doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Headers and Footers
    body
        div.header__container
            include header-login.pug
        div.header__container
            include header-logged.pug
        div.footer__container
            include footer.pug
        .footer-creative__container
            include footer-creative.pug