header.main-header
	div.main-header__container
		img.main-header-logo(src=require("../img/toxin.png"))

		nav.main-nav
			ul.main-nav-list
				li.main-nav-list__item Home
				li.main-nav-list__item About Us
				li.main-nav-list__item Services
				li.main-nav-list__item Careers
				li.main-nav-list__item News
				li.main-nav-list__item Documentation
			
			ul.main-login-list
				li.main-login-list__item 
					button.main-login-list__login.button login
				li.main-login-list__item  
					button.main-login-list__register.button register
