<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Оглавление 
    body
      h3 UX-Kit
      ul
        li
          a(href="colorsntype.html") Colors'n'Type
        li
          a(href="formelements.html") Form Elements
        li
          a(href="headersfooters.html") Headers and Footers
        li 
          a(href="cards.html") Cards
      h3 Website Pages
      ul 
        li
          a(href="landingpage.html") Landing Page
        li
          a(href="searchroom.html") Search Room
        li
          a(href="roomdetails.html") Room Details
        li
          a(href="registration.html") Registration
        li
          a(href="signin.html") Sign In
        