.registrationcard__container.card
    h1 Регистрация аккаунта
    input(type="text")
    input(type="text")
    label
        input(type="radio" name="gender")
        span Мужчина
    label
        input(type="radio" name="gender" checked)
        span Женщина
    br
    label Дата рождения
        input(type="date")
    label Данные для входа в сервис
        input(type="email")
        input(type="password")
    p Получать спецпредложения
    button.button Перейти к оплате
    p Уже есть аккаунт на Toxin 
    button.button Войти