.registrationcard__container.card
    h1 Регистрация аккаунта
    input(type="text" placeholder="Имя")
    input(type="text" placeholder="Фамилия")
    label.radio__container
        input(type="radio" name="gender")
        span.radio-checkmark
        span Мужчина
    label.radio__container
        input(type="radio" name="gender" checked)
        span.radio-checkmark
        span Женщина
    br
    h3 Дата рождения
        <input type='text' class="datepicker-here"/>
    h3 Данные для входа в сервис
        input(type="email" placeholder="Email")
        input(type="password" placeholder="Пароль")
    label(class="switch")
        input(type="checkbox" checked)
        span(class="slider round")
    span Получать спецпредложения
    button.button.button-long Перейти к оплате
    .registraion--row
        p Уже есть аккаунт на Toxin 
        button.button-white Войти