<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Registration
    body
        include header-login.pug
        .header-registration__container
            img(src="img/image2.jpg") 
            .header__container-registration
                include registrationcard.pug
            .header__container-signin
                include signincard.pug   
        include footer.pug