<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Search Room
    body
        include header-login.pug
        .searchroom__container
            .searchroom__container-options
                h3 Даты пребывания в отеле
                input(type="date")
                h3 Гости
                select
                    options 3 гостя, 1 младенец
                h3 Диапазон цены
                input(type="range")
                h3 Checkbox buttons
                input(type="checkbox")
                label Можно курить
                input(type="checkbox")
                label Можно с питомцами
                input(type="checkbox")
                label Можно пригласить гостей (до 10 человек)
                h3 Доступность
                input(type="checkbox")
                label Широкий коридор
                input(type="checkbox")
                label Помощник для инвалидов
                h3 Удобства номера
                select
                    options 2 спальни, 2 кровати
                h3 Дополнительные удобства 
            .search-room__cards
                .smallcard__container
                    img(src="img/image1.png")
                    p 888
                    p 9 990р в сутки
                    p 145 Отзывов
                .smallcard__container
                    img(src="img/image2.png")
                    p 840
                    p 9 900р в сутки
                    p 65 Отзывов
                .smallcard__container
                    img(src="img/image3.png")
                    p 980
                    p 8 500р в сутки
                    p 35 Отзывов
                .smallcard__container
                    img(src="img/image4.png")
                    p 856
                    p 7 300р в сутки
                    p 19 Отзывов
                .smallcard__container
                    img(src="img/image5.png")
                    p 740
                    p 6 000р в сутки
                    p 44 Отзывов
                .smallcard__container
                    img(src="img/image6.png")
                    p 982
                    p 5 800р в сутки
                    p 56 Отзывов
                .smallcard__container
                    img(src="img/image7.png")
                    p 678
                    p 5 500р в сутки
                    p 45 Отзывов
                .smallcard__container
                    img(src="img/image8.png")
                    p 450
                    p 5 300р в сутки
                    p 39 Отзывов
                .smallcard__container
                    img(src="img/image9.png")
                    p 350
                    p 5 000р в сутки
                    p 77 Отзывов
                .smallcard__container
                    img(src="img/image10.png")
                    p 666
                    p 5 000р в сутки
                    p 25 Отзывов
                .smallcard__container
                    img(src="img/image11.png")
                    p 444
                    p 5 000р в сутки
                    p 15 Отзывов
                .smallcard__container
                    img(src="img/image12.png")
                    p 352
                    p 5 0000р в сутки
                    p 55 Отзывов
        include footer.pug