<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title Search Room
    body
        include header-login.pug
        .searchroom__container
            .searchroom__container-options
                h3.searchroom__dates Даты пребывания в отеле
                <input type='text' class="datepicker-here"/>
                h3.searchroom__guests Гости
                <div class="iqdropdown">
                    <p class="iqdropdown-selection"></p>
                    <div class="iqdropdown-menu">
                        <div class="iqdropdown-menu-option" data-id="item1">
                            <div>
                            <p class="iqdropdown-item">Взрослые</p>
                            </div>
                        </div>
                        <div class="iqdropdown-menu-option" data-id="item2">
                            <div>
                            <p class="iqdropdown-item">Дети</p>
                            </div>
                        </div>
                        <div class="iqdropdown-menu-option" data-id="item3">
                            <div>
                            <p class="iqdropdown-item">Младенцы</p>
                            </div>
                        </div>
                    </div>
                </div>
                h3.searchroom__prices Диапазон цены
                <div id="slider-range"></div>
                p Стоимость за сутки пребывания в номере
                h3.searchroom__checkbox Checkbox buttons
                label.checkbox-container 
                    input(type="checkbox")
                    span.checkmark
                    span.formelements-checkbox__check Можно курить
                    br
                label.checkbox-container
                    input(type="checkbox" checked) 
                    span.checkmark
                    span.formelements-checkbox__check Можно с питомцами
                    br
                label.checkbox-container
                    input(type="checkbox" checked)
                    span.checkmark
                    span.formelements-checkbox__check Можно пригласить гостей (до 10 человек)
                h3.searchroom__availability Доступность
                label.checkbox-container
                    input(type="checkbox")
                    span.checkmark
                    h4 Широкий коридор 
                    p Ширина коридоров в номере не менее 91 см.
                label.checkbox-container
                    input(type="checkbox")
                    span.checkmark
                    h4 Помощник для инвалидов
                    p На 1 этаже вас встретит специалист  и проводит до номера.
                h3.searchroom__comfort Удобства номера
                <div class="iqdropdown">
                    <p class="iqdropdown-selection"></p>
                    <div class="iqdropdown-menu">
                        <div class="iqdropdown-menu-option" data-id="item1">
                            <div>
                            <p class="iqdropdown-item">Спальни</p>
                            </div>
                        </div>
                        <div class="iqdropdown-menu-option" data-id="item2">
                            <div>
                            <p class="iqdropdown-item">Кровати</p>
                            </div>
                        </div>
                        <div class="iqdropdown-menu-option" data-id="item3">
                            <div>
                            <p class="iqdropdown-item">Ванные комнаты</p>
                            </div>
                        </div>
                    </div>
                </div>
                h3.searchroom__plus Дополнительные удобства 
                label.checkbox-container   
                    input(type="checkbox")
                    span.checkmark
                    span Завтрак 
                    br
                label.checkbox-container
                    input(type="checkbox" checked)
                    span.checkmark
                    span Письменный стол
                    br
                label.checkbox-container
                    input(type="checkbox" checked)
                    span.checkmark
                    span Стул для кормления
                    br
                label.checkbox-container
                    input(type="checkbox" checked)
                    span.checkmark
                    span Кроватка
                    br
                label.checkbox-container
                    input(type="checkbox")
                    span.checkmark
                    span Телевизор
                    br
                label.checkbox-container
                    input(type="checkbox")
                    span.checkmark
                    span Шампунь
                    br
                label.checkbox-container
                    input(type="checkbox")
                    span.checkmark
                    span Телевизор
                    br
                label.checkbox-container
                    input(type="checkbox")
                    span.checkmark
                    span Шампунь
            .search-room__cards
                .smallcard__container
                    img(src="img/image1.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 888 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">9 990₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">145</span> Отзывов</p>    
                .smallcard__container
                    img(src="img/image2.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 840 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">9 990₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">65</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image3.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 980 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">8 500₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">35</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image4.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 856 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">7 300₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">19</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image5.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 740 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">6 000₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">44</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image6.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 982 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">5 800₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">56</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image7.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 678 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">5 500₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">45</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image8.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 450 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">5 300₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">39</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image9.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 350 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">5 000₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">77</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image10.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 666 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">5 000₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">25</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image11.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 444 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">5 000₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">15</span> Отзывов</p>
                .smallcard__container
                    img(src="img/image12.png")
                    .smallcard__top
                        <p class="smallcard__number">№ 352 <span class="smallcard__purple">Люкс</span></p>
                        <p class="smallcard__price"> <span class="smallcard__bold">5 000₽</span> в сутки</p>
                    hr
                    .smallcard__bottom
                        <div class='rating-stars text-center'>
                            <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class="material-icons md-18">star</i>
                            </li>
                            </ul>
                        </div>
                        <p class="smallcard__price"> <span class="smallcard__bold">55</span> Отзывов</p>
                .searchroom__nav
                    button.button 1
                    span 2 
                    span 3 
                    span ...
                    span 15
                    .green-arrow-button
        include footer.pug