.signincard__container.card
    h1 Войти
    input(type="email" placeholder="Email")
    input(type="password" placeholder="Пароль")
    button.button.button-long Войти 
    .signin__row
        p Нет аккаунта на Toxin? 
        button.button-white Создать