.button{
    background-color: #BC9CFF;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 22px;
    text-transform: uppercase;
    font-style: bold;
    font-size: 12px;
    border:0;
    font-family: 'Montserrat';
}