.findnumber__container{
    width: 320px;
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    h3{
        margin-bottom: 5px;
    }
    .iqdropdown{
        margin-bottom: 31px;
        box-sizing: border-box;
        width: 320px;
    }
    
}

.findnumber__row{
    display: flex;
    input{
        box-sizing: border-box;
        width: 150px;
        &:nth-child(2){
            margin-right: 20px;
            margin-bottom: 20px;    
        }
    }
}

.bronecard__container{
    width: 320px;
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    input{
        box-sizing: border-box;
        width: 320px;
        margin-bottom: 10px;
    }
    .iqdropdown{
        margin-bottom: 20px;
        box-sizing: border-box;
        width: 320px;
    }
    .datepicker-here{
        box-sizing: border-box;
        width: 150px;
        &:nth-child(2){
            margin-right: 20px;
            margin-bottom: 20px;    
        }
    }
    .bronecard__number{
        font-family: "Quicksand";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #1F2041;
    }

    .bronecard__price{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);

        .bronecard__bold{
            font-weight: bold;
        }
    }
    .bronecard__purple{
        text-transform: uppercase;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #BC9CFF;
    }
    .bronecard__row-p{
        display: flex;
        justify-content: space-between;
    }
    .bronecard__row{
        display: flex;
    }
    h3{
        margin-bottom: 5px;
    }
    .bronecard__data-right{
        text-align: right;
    }
    .bronecard__data-left{
        text-align: left;
    }

    .bronecard__info{
        position: relative;
        margin-right: 25px;
    }
    table {
        border-collapse: separate;
        border-spacing: 8px 3px;
      }

    .bronecard__info::after{
        position: absolute;
        content: "i";
        padding: 3px 7px;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        top: 2px;
        right: 0;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.25);
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 50%;
    }
}

.calendarcard__container{
    background-color: #fff;

}

.cards__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 1160px;
    height: 1200px;
}

.registrationcard__container{
    width: 320px;
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    input{
        box-sizing: border-box;
        width: 320px;
        margin-bottom: 10px;
    }
    .datepicker-here{
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 5px;
    }
    .registraion--row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.signincard__container{
    width: 320px;
    background-color: #fff;
    padding: 40px 30px 30px 30px;

    input{
        box-sizing: border-box;
        width: 320px;
        margin-bottom: 10px;
    }
    .signin__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.smallcard__container{
    width: 270px;
    height: 257px;
    background-color: #fff;
    border-radius: 4px;
    p{
        margin: 0;
    }
    ul#stars{
        margin: 0;
    }

    .smallcard__number{
        font-family: "Quicksand";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #1F2041;
    }

    .smallcard__price{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);

        .smallcard__bold{
            font-weight: bold;
        }
    }
    .smallcard__purple{
        text-transform: uppercase;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #BC9CFF;
    }
}

.smallcard__top, .smallcard__bottom{
    display: flex;
    justify-content: space-around;
}

.smallcard__top{
    margin-top: 20px;
    margin-bottom: 12px;
}

.smallcard__bottom{
    span{
        margin-top: 11px;
    }
}

.card{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 20px;
}

.card-no-shadow{
    border-radius: 4px;
    margin: 20px;
}