.main-footer__container{
    background-color: #fff;
    padding: 104px 140px 0px;
    display: flex;
    display: row;
    align-items: flex-start;
}

.main-footer__about-us{
    width: 260px;

}

.main-footer__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    display: row;
}

.main-footer__header{
    font-weight: bold;
    padding: 0 0 20px;
}

.main-footer__data{

}

.main-footer__item-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer__socials-list{
    list-style: none;
    margin: 0;
    padding: 0;
}