.main-footer-creative__container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
    padding-bottom: 110px;
    margin-bottom: 130px;
}

.main-footer-creative__container p{
    width: 560px;
    text-align: center;
}

.main-footer-creative__logo{
    width: 105px;
    height: 40px;
}

.main-footer-creative__socials-link{
    position: relative;
    margin-left: 40px;
}

.main-footer-creative__socials-link::before{
    position: absolute;
    content:"";
    width: 24px;
    height: 24px;
    
    top: 0;
    left: -30px;
}

.main-footer-creative__socials-list{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.main-footer-creative__socials-link.tw::before{
    background: url("../img/tw.png") 0 0 no-repeat;
}

.main-footer-creative__socials-link.fb::before{
    background: url("../img/fb.png") 0 0 no-repeat;
}

.main-footer-creative__socials-link.ig::before{
    background: url("../img/ig.png") 0 0 no-repeat;
}