.main-header__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    margin: 0 auto;
    background-color: #ffffff;
    width: 1160px;
}

.main-header-logo{
    height: 40px;
    width: 105px;
}

.main-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.main-nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.main-nav-list__item{
    margin: 0 15px;
}

.main-login-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}