.landing-page__image-container{
    position: relative;
}

.landing-page__container{
    position: absolute;
    left: 140px;
    top: 70px;
}

.landing-page__text{
    position: absolute;
    right: 140px;
    bottom: 15px;
    width: 300px;
}