.header-registration__container{
    position: relative;
}

.header__container-registration{
    position: absolute;
    top: 30px;
    left: 550px;
    display: none;
}

.header__container-signin{
    position: absolute;
    top: 190px;
    left: 550px;
    display: none;
}