.header-registration__container{
    position: relative;
    margin: 0 auto;
}

.header-registration__container img{
    width: 100%;
}

.header__container-registration{
    position: absolute;
    top: 30px;
    left: 550px;
    display: none;
}

.header__container-signin{
    position: absolute;
    top: 190px;
    left: 550px;
    display: none;
}