.room__container-photo{
    display: flex;
    max-width: 1440px;
    background-color: #fff;
}

@media (max-width: 1000px){
    .room__container-photo{
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .room__container-photo-small{
        display: none;
    }
    .room__container-photo img{
        margin: 0 auto;
        width: 100%;
        min-width: 320px;
        display: inline-block;
        background-color: #fff;
    }
}

.room__container{
    background-color: #fff;
    padding: 70px 140px;
    max-width: 1160px;
    display: flex;
}

@media (max-width: 1000px){
    .room__container{
        flex-wrap: wrap;
    }
}


.room__container-left{
    display: flex;
    flex-wrap: wrap;
}

.room-info__container{
    width: 280px;
    margin-right: 70px;
    margin-bottom: 30px;
}

.room-feedback__container{
    margin-bottom: 30px;
    max-width: 710px; 
    margin-right: 70px;
}

.room-rules__container{
    width: 270px;
    margin-right: 70px;
}

.room-cancel__container{
    width: 340px;
}