.room__container-photo{
    display: flex;
    width: 1440px;
}

.room__container{
    background-color: #fff;
    padding: 70px 140px;
    width: 1160px;
    display: flex;
}

.room__container-left{
    display: flex;
    flex-wrap: wrap;
}

.room-info__container{
    width: 280px;
    margin-right: 70px;
    margin-bottom: 30px;
}

.room-feedback__container{
    margin-bottom: 30px;
    width: 710px; 
    margin-right: 70px;
}

.room-rules__container{
    width: 270px;
    margin-right: 70px;
}

.room-cancel__container{
    width: 340px;
}