.search-room__cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 860px;
}

.searchroom__container{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 30px 140px 70px;
    max-width: 1160px;
    min-width: 1160px;

    hr{
        background: rgba(31, 32, 65, 0.1);
        width: 230px;
        margin: 0 auto;
        margin-bottom: 8px;
    }
}

@media (max-width: 1000px){
    .searchroom__container{
        min-width: 300px;
    }
}

.searchroom__container-options{
    width: 266px;
    margin-right: 30px;
}

.smallcard__container{
    margin-right: 12px;
    margin-bottom: 15px;
    width: 270px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}

.smallcard__container:nth-child(3n){
    margin-right: 0;

}   

.searchroom__dates{
    margin-bottom: 5px;
}

.searchroom__guests{
    margin-bottom: 5px;
}

.searchroom__prices{
    margin-bottom: 20px;
    position: relative;
}

.searchroom__prices::after{
    position: absolute;
    content: "5 000₽ - 10 000₽";
    top: 0;
    right: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
}

.searchroom__container-options p{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
    margin-bottom: 30px;
}

.searchroom__checkbox{
    margin-bottom: 16px;
}

.searchroom__availability{
    margin-bottom: 16px;
}

.searchroom__comfort{
    margin-bottom: 5px;
}

.searchroom__plus{
    margin-bottom: 15px;
    position: relative;
}

.searchroom__plus::after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 3px;
    right: 25px;
    border: 2px solid rgba(31, 32, 65, 0.5);
    border-width: 2px 0px 0px 2px;
    transform: rotate(45deg);
}

.searchroom__container-options .iqdropdown{
    width: 266px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.searchroom__container-options .datepicker-here{
    width: 266px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.searchroom__nav{
    margin: 0 auto;
    span{
        margin: 15px;
    }
}