.search-room__cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 830px;
}

.searchroom__container{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 30px 140px 70px;
    max-width: 1160px;
}

.searchroom__container-options{
    width: 266px;
    margin-right: 60px;
}

.smallcard__container{
    margin-right: 5px;
    margin-bottom: 15px;
    width: 270px;
}

.smallcard__container:nth-child(3n){
    margin-right: 0;

}